* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif, Arial, Helvetica;
}

main {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.pm-0 {
	padding: 0 !important;
	margin: 0 !important;
}

a {
	transition: ease-in-out 250ms;
}

a:hover {
	display: block;
	transform: scale(1.1);
	color: red;
}

.pointer {
	cursor: pointer;
}


#js-clock {
	position: fixed;
	bottom: 0px;
	background-color: rgb(56, 56, 56);
	color: wheat;
	width: 100%;
	padding: 0.5rem 0;
	text-align: center;
}